body {
    background: $background;
    font-family: "Roboto", sans-serif;
}


// Homepage
.mainContainer {
    padding: 3.5em;
    gap: 1rem;
    .filter {
        color: $dark-grey;
        justify-content: flex-end;
    }
}

//AddPost 
.addPost {
    margin: 5em auto;
    max-width: 50%;
    background-color: $light;
    width: fit-content;
    padding: 2rem;
    border-radius: 5px;
    .postButton {
        button {
            background-color: $red;
            border: none;
            color: $light;
            padding: 1rem 2.5rem;
            border-radius: 30px;
            width: fit-content;
            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
    .postContent {
        gap: 2rem;
        margin-bottom: 0rem;
        .addImg {
            background-color: $background;
            border-radius: 5px;
            padding: 2rem;
            width: 65%;
            .postTitle {
                width: 80%;
                margin: 5rem 0rem;
                h1 {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
            span {
                color: $dark-grey;
                font-size: 13px;
            }
        }
    }
}

.css-g9cew8-MuiInputBase-root-MuiInput-root:after {
    border-color: transparent!important;
}



//Flex 

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}